[submodule "src/apriltags_ros"]
	path = src/apriltags_ros
	url = https://github.com/VTAstrobotics/Autonomy-2017.git
[submodule "src/ethzasl_xsens_driver"]
	path = src/ethzasl_xsens_driver
	url = https://github.com/ethz-asl/ethzasl_xsens_driver.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/bosch-ros-pkg/usb_cam
[submodule "src/robot_msgs"]
	path = src/robot_msgs
	url = https://github.com/VTAstrobotics/robot_msgs.git
