[submodule "src/apriltags_ros"]
	path = src/apriltags_ros
	url = https://github.com/VTAstrobotics/apriltags_ros.git
[submodule "src/ethzasl_xsens_driver"]
	path = src/ethzasl_xsens_driver
	url = https://github.com/ethz-asl/ethzasl_xsens_driver.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/bosch-ros-pkg/usb_cam
[submodule "src/robot_msgs"]
	path = src/robot_msgs
	url = https://github.com/VTAstrobotics/robot_msgs.git
[submodule "src/rosserial"]
	path = src/rosserial
	url = https://github.com/ros-drivers/rosserial
[submodule "src/rowens_driver/vesc_bbb_uart"]
	path = src/rowens_driver/vesc_bbb_uart
	url = https://github.com/VTAstrobotics/VESC_BBB_UART.git
[submodule "src/imu"]
	path = src/imu
	url = https://github.com/ccny-ros-pkg/imu_tools
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools
