<launch>
	<node
    pkg="autonomous_control"
    type="autonomous_control_node"
    name="autonomous_control"
    respawn="true"
    output="screen"
  	/>

	<node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
	<param name="port" value="/dev/ttyByrneUno" />
	<param name="baud" value="57600" />
  	</node>
</launch>
